<div class="signup-container">
    <div class="signup-box">
      <h2>Register</h2>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <label for="name">Name</label>
          <input type="text" id="name" formControlName="name" required />
          <div *ngIf="submitted" class="error-message">
            <div *ngIf="signupForm?.controls?.['name']?.errors?.['required']">Email is required</div>
          </div>
        </div>
        <div class="input-group">
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email" required />
          <div *ngIf="submitted" class="error-message">
            <div *ngIf="signupForm?.controls?.['email']?.errors?.['required']">Email is required</div>
            <div *ngIf="signupForm?.controls?.['email']?.errors?.['email']">Email must be a valid email address</div>
          </div>
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" formControlName="password" required />
          <div *ngIf="submitted" class="error-message">
            <div *ngIf="signupForm?.controls?.['password']?.errors?.['required']">Password is required</div>
            <div *ngIf="signupForm?.controls?.['password']?.errors?.['minlength']">Password must be at least 6 characters long</div>
          </div>
        </div>
        <div class="input-group">
          <label for="confirm-password">Confirm Password</label>
          <input type="password" id="confirm-password" formControlName="confirmPassword" required />
          <div *ngIf="submitted" class="error-message">
            <div *ngIf="signupForm?.controls?.['confirmPassword']?.errors?.['required']">Confirm Password is required</div>
            <div *ngIf="signupForm?.controls?.['confirmPassword']?.errors?.['minlength']">Confirm Password must be at least 6 characters long</div>
            <div *ngIf="!passwordMatched">Password and confirmPassword do not match</div>
          </div>
        </div>
        <button type="submit" class="register-button">Register</button>
      </form>
    </div>
  </div>
  