<div class="comments-container">
    <h2>Comments</h2>
    
    <div *ngFor="let comment of comments" class="comment">
      <h3>{{ comment.name }}</h3>
      <p>{{ comment.message }}</p>
    </div>
  
    <div class="new-comment" *ngIf="isUserLoggedIn">
      <h3>Leave a comment</h3>
      <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <textarea id="message" formControlName="message" placeholder="Your comment" rows="4"></textarea>
        </div>
  
        <button type="submit" class="submit-button">Submit</button>
      </form>
    </div>
  </div>
  